/*
	css syntax

	css rule set:

	selector {
		property: value;
	}
*/
/*universal selector - this allows us to select all elements*/
* {
	/*
		font-family property changes the font of our text
			font-family: "Font Name";, fallbackfont;
				-fallback font allows css to find similar font with
				your main font.
				-value of fallback font is usually the family of the main font
			font-size property allows us to change sile of the text.
			-default font size is 16px.
	*/
	font-family: "Courier New", monospace;
	font-size: 20px;
}
/*type selector - allows to select all elements with the same type/tag*/
h1	{
	/*
		rem is a measurement in css means
		num x the defualt size of the root
		element's font.

		2rem = 2 x root element font size
		2rem = 2 x 20
	*/
	color: black !important;
	text-align: center;
	font-size: 2rem;
}

/*id selector is represented in css with #*/
#zuitt-motto {
	letter-spacing: 5px;
}

/*class selector is represented in css with .*/

/*li {
	font-size: 30px;*/
}
.offering-item {
	text-transform: uppercase;
	/*font-size: 50px;*/
}

/*#day-class {
	font-size: 100px !important;
}*/

/*
	Specificity of selectors
	id > class > attribute > type/tag > universal(*)

	specificity of implementation
	inline > internal > external

	!important keyword allows us to override
	specificity for a declaration

	The most specific declaration is when the
	declaration is in an id selector and with
	!important

	sample:
	<li class="offering-item" id="day-class" style="font-size: 5px;">Day Class</li>
*/

/*attribute selector - allows to select element
with the same tag and atttribute*/
/*
	tag[attribute] {
		property: value;
	}
*/
input[required] {
	border-width: 2px;
	border-style: solid;
	border-color: navy;
	width: 90%;

}

/*input {
	border-width: 4px;
	border-style: solid;
	border-color: green;
}

.fname-input {
	border-width: 6px;
	border-style: solid;
	border-color: red;
}

#first-name {
	border-width: 10px;
	border-style: solid;
	border-color: orange;
}*/

/*
	adjacent sibling selector combinator
		-allows us to select the sibling
		directly after the first selector
*/

#zuitt-motto + img {
	height: 300px;
	width: 300px;
	border-radius: 150px;
}

/*

	general sibling selector - alloes to select
	the elements that are siblings that come after of our first element
	
	firstSelector ~ generaSibling {
		property: value;
	}
*/

h2 ~ a {
	text-decoration: none;
}

/*
	descendant selector - allows to select the 
	elements that are descendants of the first
	element/selector

	firstSelector descendant {
		property: value;
	}
*/
#bootcamp-learning-list li {
	color: #075966;
}

nav {
	/*
		display: flex; lets use the flexbox
		
		flexbox by defualt arranges an elements
		children into a row

		by default, justify-content allows children
		of an element with flex to be able to
		change their horizontal alignment.

		cannot use justify-content w/o display: flex;
	*/
	background-color: white;
	display: flex;
	justify-content: space-between;
}

nav a {
	text-decoration: none;
}

/*
	css child selector - selects children of
	first selector or element

	firstSelector > child {
		property: value;
	}
*/
section	> form > label {
	color: rgb(0,0,128);
}

body {
	background-color: skyblue;
}

a:hover {
	background-color: #b4d6de;
}

section	{
	/*
		vh is a measurement is CSS
		-it is a percentage of the total
		height of the viewport

		vh = viewport height

		100vh = 100% of the viewport height

		the viewport is the overall space
		you can view your page in
	*/
	height: 100vh;
	text-align: center;
}

form {
	background-color: white;
	border: 2px solid black;
	height: 185px;
	width: 25vw;
	display: flex;
	flex-direction: column;
	align-items: center;

}

#register {
	display: flex;
	flex-direction: column;
	align-items: center;
}

h2 {
	font-size: 1.5rem;
}

ol {
	list-style-type: none;
}

button {
	background-color: #cf0053;
	color: white;
	border: 0;
	border-radius: 15px;
}