* {
	font-family: "Verdana", sans-serif;
	font-size: 20px;
}

#p1 {
	color: #E91818;
}

h1 {
	font-size: 3rem;
}

#thisIsH2 {
	text-transform: uppercase;
}

.language {
	background-color: #A4C78F;
}

.tools {
	border-width: 2px;
	border-style: solid;
	border-color: #8D99D1;
}

section img {
	height: 20vh;
	width: 20vh;
	border-radius: 150px;
}

img + ul {
	list-style-type: none;
}

ul ~ p {
	text-align: center;
}

section > ul > li {
	letter-spacing: 10px;
}